.contact-sidebar {
  position: fixed;
  left: 60px;
  top: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  z-index: 1000;
}

.contact-links {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.contact-link {
  color: #008080;
  text-decoration: none;
  font-size: 35px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-link i {
  margin-right: 8px;
}

.contact-link:hover {
  color: rebeccapurple;
}

@media only screen and (min-width: 320px) and (max-width: 540px) {
  .contact-sidebar {
    position: sticky;
    padding: 0;
  }

  .contact-links {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: lightblue;
  }
}

@media only screen and (min-width: 768px) and (max-width: 853px) {
  .contact-sidebar {
    left: -35px;
  }
}

@media only screen and (min-width: 912px) and (max-width: 1024px) {
  .contact-sidebar {
    left: -30px;
  }
}

@media only screen and (min-width: 1080px) and (max-width: 1280px) {
  .contact-sidebar {
    left: -20px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .contact-link:hover {
    color: #008080;
  }
}

@media only screen and (min-width: 1300px) {
  .contact-sidebar {
    left: 0;
  }
}
