.experience-container {
  margin: 0 auto;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  color: black;
}

.experience-container h2 {
  text-decoration: underline;
}

.experience {
  font-size: 14px;
  text-align: left;
  padding: auto;
  margin: 0;
}

.experience {
  font-size: 14px;
  margin: 0 auto;
  padding: 20px;
}

.experience > div {
  margin-bottom: 20px;
}

.experience h3 {
  font-size: 18px;
  margin-bottom: 5px;
  text-decoration: underline;
}

.experience p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

.experience ul {
  list-style: none;
  padding-left: 0;
}

.experience li {
  position: relative;
  padding-left: 24px;
  margin-bottom: 10px;
  font-size: 14px;
}

.experience > div:not(:first-of-type) {
  margin-top: 50px;
}

@media only screen and (min-width: 344px) and (max-width: 430px) {
  .experience-container {
    height: 100%;
  }

  .experience h3 {
    font-size: 16px;
  }
  .experience p,
  .experience li {
    font-size: 12px;
  }
}

@media only screen and (min-width: 412px) and (max-width: 540px) {
  .experience h3 {
    font-size: 17px;
  }
  .experience p,
  .experience li {
    font-size: 14px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 853px) {
  .experience-container {
    height: 80vh;
  }

  .experience p,
  .experience li {
    font-size: 16px;
    margin-left: 30px;
  }
  .experience p,
  .experience li,
  .experience h3 {
    margin-left: 45px;
  }
}

@media only screen and (min-width: 912px) and (max-width: 1024px) {
  .experience p,
  .experience li,
  .experience h3 {
    margin-left: 35px;
  }
}
